<!HTML DOCUMENT>
<html>
	<head>
		<title> breakbadsp's blog</title>
	</head>
	<body>
		<div> 
			<h1><a href="/">Home</a></h1>
		</div>
		
		<div>
            <p>published: 18.05.2018, 12:24 PM</p>
            <h2><a href="">My first post</a></h2>
            <p>TESLA: Quickest Acceleration.Longest Range. The Safest Cars Ever.</p>
        </div>

        <div>
            <p>published: 18.05.2018, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>space Exploration Technologies Corp., doing business as SpaceX, is a private American aerospace manufacturer and space transportation services company headquartered in Hawthorne, California.</p>
        </div>
    </body>
</html>